/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

// Colors
$primary: #447099; /* posit blue */

// Text and Links
$body-color: #404041; /* posit gray */
$headings-color: #404041; /* posit gray */
// $code-color: #702459; /* constrast ratio: 8.94 */
$link-color: darken($primary, 10%);
$link-hover-color: darken($link-color, 10%);
$font-family-sans-serif: "Open Sans",   system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// Customize the navbar
$navbar-bg: #ffffff;
$navbar-fg: #888888;
$navbar-hl: #000000;
$navbar-brand: $body-color;
$navbar-brand-hl: $navbar-brand;

// Customize the sidebar
$sidebar-bg: #ffffff;
$sidebar-fg: #404041;

// Customize the footer color
$footer-fg: lighten(#404041, 30%);

/* workbench variables */
$pro-header: #9A4665; /* posit burgundy */
$pro-header-border: darken($pro-header, 5%);

$preview-header: #EE6331; /* posit orange, contrast: 8.45 */
$preview-header-border: darken($preview-header, 5%);

/*-- scss:rules --*/


/* styling links */
a {
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.15em;
  color: $primary;
}

/* increase padding around code blocks */
pre.sourceCode.code-with-copy {
  padding: 1rem 25px 1rem 1rem;
}

/* increase title letter spacing to lighten it up */
.navbar-brand {
  letter-spacing: 0.05rem;
}

/* decrease font size for stacked title and version */
.navbar-title {
  font-size: 14pt;
}

/* increase padding around navbar links so less squished */
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0rem 1rem;
  white-space: nowrap; 
}

/* Posit logo - navbar */
#navbar-right-logo {
  width: 70px;
  min-width: 70px;
}

/* increase padding between sidebar nav items */
.sidebar-navigation .sidebar-section.depth1 {
  padding-bottom: 0.2rem; /* double the default */
}

.sidebar nav[role=doc-toc] ul > li a.active {
  color: $primary !important;
  font-weight: normal;
  letter-spacing: -0.01em;
  border-left: 1px solid $primary;
}

/* yes this is actually a default selector and needs to be overridden to improve contrast ratio */
.sidebar nav[role=doc-toc] ul > li > ul > li > a.active { 
  color: #295b89 !important;
}

/* darken copyright color to improve contrast ratio */
.nav-footer .nav-footer-left{
  color: #404041;
}

/* the PRO header */
.pro-header > h1:after,
.pro-header > h2:after,
.pro-header > h3:after,
.pro-header > h4:after,
header h1 .pro-header {
  content: "workbench";
  text-transform: uppercase;
  margin-left: 1em;
  position: relative;
  top: -0.5em;
}

.pro-header > h1:after,
.pro-header > h2:after,
.pro-header > h3:after,
.pro-header > h4:after,
header h1 .pro-header,
div span.pro-feature {
  display: inline-block;
  color: $pro-header;
  border: 1.5px solid $pro-header-border;
  border-radius: 50rem !important;
  font-weight: 500;
  font-size: 9pt !important;
  padding: 0rem 0.4rem;
}

div span.pro-feature {
  margin-left: 1em;
  text-transform: uppercase;
}

/* the PREVIEW header */
.preview-header > h1:after,
.preview-header > h2:after,
.preview-header > h3:after,
.preview-header > h4:after,
header h1 .preview-header {
  content: "Preview feature";
  margin-left: 1em;
  position: relative;
  border-radius: 50rem !important;
  top: -0.5em;
}

.preview-header > h1:after,
.preview-header > h2:after,
.preview-header > h3:after,
.preview-header > h4:after,
header h1 .preview-header,
div span.preview-feature {
  color: $preview-header;
  border: 1px solid $preview-header-border;
  font-weight: 400;
  font-size: 9pt !important;
  padding: 0rem 0.4rem;
}

div span.preview-feature {
  margin-left: 1em;
  text-transform: uppercase;
}

/* Navbar */

#quarto-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

/* Logo */

.navbar-brand img {
  width: 3rem;
  height: 3rem;
  margin-right: 0rem;
  margin-bottom: 0.3125rem; /* align the logo with text */
}

.sidebar.sidebar-navigation a.active {
  border-left: 3px solid $primary;
  padding-left: 0.5em;
}

/* darken nav page text */
.nav-page .nav-page-text {
  color: $body-color;
}

ol.groovyAlpha {
  list-style: none;
  counter-reset: list-counter;
}

ol.groovyAlpha li {
  counter-increment: list-counter;
}

ol.groovyAlpha li > p:before {
  content: counter(list-counter, lower-alpha);
  width: 16px;
  height: 16px;
  text-align: center;
  margin-right: 10px;
  color: #fff;
  background-color: #fc403b;
  display: inline-block;
  border-radius: 8px;
  font-size: 9px;
  line-height: 16px;
  vertical-align: middle;
}


/*-- ejs listings styles --*/



@media (max-width: 575px) {

  .link-cards .card {
    margin-bottom: 20px;
    margin-right: 35px;
  }
  
  }
  
  @media (min-width: 576px) { 
  .link-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .link-cards .card {
    width: 400px;
    margin: 0 5px 1px 0;
  }
  
  }
  
  
  .link-cards .card {
    border: none;
    padding: 0;
  }
  
  .link-cards .card-title {
    margin-top: 0;
    font-size: larger;
  }
  

  
  .link-cards .card-subtitle {
    margin-bottom: 0.7rem;
  }
  
  .link-cards .card-body {
    padding: 0.1rem;
    /*padding: 0;*/
  }

  
  .link-cards .card-body p {
    margin-bottom: 0;
    line-height: 100%;
  }
    

  .card .source-code {
    margin-top: 3px;
  }
  
  .link-cards a {
    text-decoration: none;
  }
  
  .link-cards a:hover {
  
    text-decoration: underline;
  }